body {
  font-size: 18px;
  font-family: Helvetica;
}
header {
  background-color: black;
  color: white;
}
.container {
  display: flex;
  align-items: center;
  padding: 12px 0px 12px 0.5em;
}
header .logo {
  height: 1.5rem;

}
